<!DOCTYPE html>
<html>
<head>
<title>SMC-RNA-Challenge</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
	a.button {
		width: 80%;
		display: block;
		float: left;
		background: #fefefe;
		border: solid #0e0e0e 2px;
		border-radius: 5px;
	}

	a.button {
		font-family: arial;
		font-size: 16px;
		color: #0e0e0e;
		text-shadow: none;
		text-decoration: none;
		padding: 2% 2%;
		margin: 0 2%
	}
	a:hover.button {
		color: #898989;
		text-decoration: none;

		border: solid #0e0e0e 3px;
	}
</style>
</head>
<body>
<h1>Welcome to Planemo Machine for SMC-RNA-Challenge!</h1>
<p>If you see this page, the server is up and running</p>
<p><a href="/galaxy" target="_blank" class="button">Click here to access galaxy tools</a></p>
<BR> 
<BR> 
<p><a href="/ide/" target="_blank" class="button">Click here to access codebox</a></p>
<BR> 
<BR> 
<p></p>
<p><em>Thank you for your participation in the SMC-RNA-Challenge.</em></p>
</body>
</html>

