<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to Planemo Machine!</h1>
<p>If you see this page, the server is up and running</p>
<p>Click <a href="/galaxy" target="_blank">here</a> to access galaxy tools.</p>
<p>Click <a href="/ide/" target="_blank">here</a> to access codebox where you can use common workflow language tools</p>
<p><em>Thank you for using planemo.</em></p>
</body>
</html>
